---
---

.person {
    position: fixed;
    bottom: -30px;
    right: 100px;
    display: flex;
    flex-direction: column;
    animation-duration: 2s;
    animation-name: personAnimation;
}

@keyframes personAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

#bubble {
    display: inline-block;
    padding: 1rem;
    background: #fff;
    position: relative;
    border: 5px solid #00c2cb;
    border-radius: 25px;
    width: 250px;
    min-height: 50px;
    flex-grow: 0;
    font-size: 1.3rem;
    transform: rotate(-5deg);
}

#bubble:before,
#bubble:after {
    content: '';
    border: 15px solid #00c2cb;
    border-bottom: 0;
    border-top-width: 30px;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    left: 2rem;
    top: 100%;
    z-index: 1;
}

.person img {
    height: 400px;
    width: auto;
    transform: rotate(5deg);
}

iframe {
    margin: 100px auto;
    display: block;
    width: 600px;
    height: 337px;
}

#bubble:before {
    border-top-color: #fff;
    margin-top: -10px;
    z-index: 2;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 220px;
    a {
        font-family: 'Font-Awesome-Brands';
        display: block;
        color: white;
        font-size: 3rem;
        opacity: .6;
        &:hover {
            opacity: 1;
            color: #00c2cb;
        }
    }
    .face::before {
        content: '\f082';
    }
    .insta::before {
        content: '\e055';
    }
    .you::before {
        content: '\f431';
    }
    .xing::before {
        content: '\f169';
    }
}

@media only screen and (max-width: 600px) {
    .person {
        right: -120px;
    }

    iframe {
        display: none;
    }
}