* {
  margin: 0;
  padding: 0;
}
document {

}
html {
  overflow: hidden;
  height: 100vh;
  background: black url(../background.png) no-repeat center;
  background-size: cover;
  font-size: 16px;
  font-family: 'Arial';
  background-position: 0px 0px;
  padding: 20px;
  margin: -20px;
}

body {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Odibee Sans', sans-serif;
  letter-spacing: 1px;
  transform: rotate(0);
}

main {
  padding: 20px;
}

h1 {
  display: inline-block;
  text-align: center;
  background: #00c2cb;
  font-size: 47px;
  font-weight: 100;
  line-height: .9;
  padding: 5px 40px 0px;
  transform: rotate(-3deg);
  transition: transform linear 300ms
}

h1 span {
  display: block;
  text-transform: uppercase;
  color: white;
}
.person {
  position: fixed;
  bottom: -30px;
  right: 100px;
  display: flex;
  flex-direction: column;
  animation-duration: 2s;
  animation-name: personAnimation;
}

@keyframes personAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

#bubble {
  display: inline-block;
  padding: 1rem;
  background: #fff;
  position: relative;
  border: 5px solid #00c2cb;
  border-radius: 25px;
  width: 250px;
  min-height: 50px;
  flex-grow: 0;
  font-size: 1.3rem;
  transform: rotate(-5deg);
}

#bubble:before,
#bubble:after {
  content: '';
  border: 15px solid #00c2cb;
  border-bottom: 0;
  border-top-width: 30px;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  left: 2rem;
  top: 100%;
  z-index: 1;
}

.person img {
  height: 400px;
  width: auto;
  transform: rotate(5deg);
}

iframe {
  margin: 100px auto;
  display: block;
  width: 600px;
  height: 337px;
}

#bubble:before {
  border-top-color: #fff;
  margin-top: -10px;
  z-index: 2;
}
